<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TaskStatusMapper">
    
    <resultMap type="TaskStatus" id="TaskStatusResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="success"    column="success"    />
        <result property="type"    column="type"    />
        <result property="count"    column="count"    />
    </resultMap>

    <sql id="selectTaskStatusVo">
        select id, name, success, type from task_status
    </sql>

    <select id="selectTaskStatusList" parameterType="TaskStatus" resultMap="TaskStatusResult">
        select task_status.id,
               task_status.name,
               task_status.success,
               task_status.type,
        (select COUNT(id) from task where penetration_status_result =  task_status.id ) as count
        from task_status
        <where>  
            <if test="name != null  and name != ''"> and task_status.name like concat('%', #{name}, '%')</if>
            <if test="success != null "> and task_status.success = #{success}</if>
            <if test="type != null "> and task_status.type = #{type}</if>
        </where>
    </select>
    
    <select id="selectTaskStatusById" parameterType="Long" resultMap="TaskStatusResult">
        <include refid="selectTaskStatusVo"/>
        where id = #{id}
    </select>

    <insert id="insertTaskStatus" parameterType="TaskStatus" useGeneratedKeys="true" keyProperty="id">
        insert into task_status
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="success != null">success,</if>
            <if test="type != null">type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="success != null">#{success},</if>
            <if test="type != null">#{type},</if>
         </trim>
    </insert>

    <update id="updateTaskStatus" parameterType="TaskStatus">
        update task_status
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="success != null">success = #{success},</if>
            <if test="type != null">type = #{type},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTaskStatusById" parameterType="Long">
        delete from task_status where id = #{id}
    </delete>

    <delete id="deleteTaskStatusByIds" parameterType="String">
        delete from task_status where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>